@import url("https://fonts.googleapis.com/css2?family=Linux+Libertine&family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 246, 246, 246;
  --header-height: 0rem;
  --header-height-lg: 5rem;
  --full-height: 100vh;
  --content-height: calc(var(--full-height) - var(--header-height));
  --article-height: calc(var(--content-height) - 3rem);
}

@supports (height: 100dvh) {
  :root {
    --full-height: 100dvh;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
}

.font-linux {
  font-family: "Linux Libertine", Georgia, serif;
  font-weight: 400;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html,
body {
  scroll-behavior: smooth;
  height: var(--full-height);
}

@media (min-width: 768px) {
  :root {
    --header-height: var(--header-height-lg);
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-custom {
  -webkit-line-clamp: var(--line-clamp, 3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

