@import url("https://fonts.googleapis.com/css2?family=Linux+Libertine&family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 246, 246, 246;
  --wikihits-primary: #3366cc;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Linux Libertine", Georgia, serif;
  font-weight: 400;
}

.wiki-content {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.wiki-content p {
  line-height: 1.6;
}

html,
body {
  scroll-behavior: smooth;
}

.scroll-container {
  height: calc(100vh - 5rem); /* Adjust for header height */
  overflow-y: scroll;
  scroll-snap-type: y proximity; /* Changed from mandatory to proximity for smoother scrolling */
}

.scroll-section {
  scroll-snap-align: start;
  min-height: calc(100vh - 5rem); /* Adjust for header height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.read-more-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--wikihits-primary);
}

#wiki-feed-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

#wiki-feed-container > div {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

