@import url("https://fonts.googleapis.com/css2?family=Linux+Libertine&family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 246, 246, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Linux Libertine", Georgia, serif;
  font-weight: 400;
}

.wiki-content {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.wiki-content p {
  line-height: 1.6;
}

html,
body {
  scroll-behavior: smooth;
}

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-section {
  scroll-snap-align: start;
  height: 100vh;
  overflow-y: auto;
}

.read-more-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@keyframes bounce-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes bounce-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.hover\:animate-bounce-up:hover {
  animation: bounce-up 0.5s infinite;
}

.hover\:animate-bounce-down:hover {
  animation: bounce-down 0.5s infinite;
}

